.moviecard_card {
    margin : 20px !important;
    width : 350px !important;
}

.moviecard_cardtop {
    background : #f1f6f7 !important;
}

.moviecard_image {
    margin-bottom: 0 !important;
}

.moviecard_description {
    margin: 5px 0 !important;
}

.moviecard_cardbottom {
    background : #f1f6f7 !important;
}

.trailericon {
    margin-left : 3px !important;
}
